<h1 class="text-center">Posts GET requests</h1>
<!--
we need to pass our selectPost property into the form component
as an input
*input is signified by []
*Output is signified by ()
-->
<app-post-form
  [currentPost]="selectedPost" [isEditing]="postEdit"
  (updatedPost)="onUpdatedPost($event)"
  (newPost)="onSubmitPost($event)"></app-post-form>
<div class="container">

  <div class="row">

<!-- using *ngFor to loop through the array of posts-->
    <div class="card card-body col-12" *ngFor="let p of posts">

      <h5 class="card-title">{{p.title}}</h5>
      <p class="card-text">{{p.body}}</p>
      <hr>
      <button (click)="editPost(p)"class="btn btn-light">
        <i class="fa fa-pencil"></i>
      </button>

      <button (click)="removePost(p)"class="btn btn-danger">
        <i class="fa fa-remove"></i>
      </button>

    </div>

  </div>

</div>
