<!--<ul>-->
<!--  <li *ngFor="let a of members">-->
<!--    <h3>Name: {{ a.firstName}} {{a.lastName}}</h3>-->
<!--    <ul>-->
<!--      <p>UserName: {{ a.username}}</p>-->
<!--     <p>MemberNo: {{ a.memberNo }}</p>-->
<!--    </ul>-->
<!--    <div *ngIf="members.length > 1">-->
<!--      <h3>There are {{members.length}} members in the VIP.</h3>-->
<!--    </div>-->
<!--  </li>-->

<!--</ul>-->

<ul>
  <li *ngFor="let m of members">
    <h2> {{ m.firstName }} {{ m.lastName }}</h2>
    <p>Username: {{ m. username }}</p>
    <p>Member #: {{ m.memberNo }}</p>
  </li>
</ul>

<p *ngIf="loadingMembers">Loading VIP Members</p>

<ul *ngIf="members.length > 1">
  <li> There are {{ members.length }} members in the VIP!</li>
</ul>
<!-- display if there is only 1 member in the array -->
<ul *ngIf="members.length === 1">
  <li> There is {{ members.length }} member in the VIP!</li>
</ul>
