<h1>athlete component</h1>

<!--<h3>Name: {{ athletes.name }}</h3>-->

<!-- STRUCTURAL DIRECTIVES
*ngFor, *ngIf, *ngSwitch
Every one of these directives NEEDS to ahve the asterik *
Basically an attribute inside of an element

-->

<!-- Use *ngFor to loop through our array of this.athletes -->
<!--<h3>Athletes Names</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{ a.name }}-->
<!--  </li>-->
<!--</ul>-->


<!-- *ngFor Breakdown
    'let' = defines the variable
      a = the name of our variable
      athletes = pertains to the 'this.athlete' array from our ts
      a.name = calling the name property of each object
-->

<!-- Use *ngFor to loop through the array of this.athletes and
retrieve the team names of each object-->
<!--<h3>Athletes teams</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let a of athletes ">-->
<!--    {{ a.team }}-->
<!--  </li>-->
<!--</ul>-->


<ul>
  <li *ngFor="let a of athletes">
    <h3>{{ a.name }}</h3>
    <ul>
      <li>Team: {{ a.team }}</li>
      <li>Jersey No: {{ a.JerseyNo }}</li>
    </ul>
    <ul *ngIf="a.stillPlaying === true">
      <li> {{ showStatus() }}</li>
    </ul>
    <ul *ngIf="a.stillPlaying !== true">
      <li>This athlete is retired</li>
    </ul>
  </li>
</ul>
