<h1 class="text-center">WELCOME!!</h1>
<h3 class="text-center">This is my Angular Homepage</h3>

<p class="text-center">Click a button to view a component</p>

<div class="container">
<h3>LOOK AT WHAT I LEARNED IN ANGULAR:</h3>
<!--  COMMENTS COMPONENT-->
  <div class="row" class="text-center">
    <div class="col-6">
      <h3>View my comments component project</h3>
      <p>A CRUD app using json placeholder api</p>
      <button class="btn btn-secondary" routerLink="/comments">Comments Component</button>
    </div>
  </div>

<!--  POSTS COMPONENT-->
  <div class="row" class="text-center">
    <div class="col-6">
      <h3>View my post component project</h3>
      <p>A CRUD app using json placeholder api</p>
      <button class="btn btn-secondary" routerLink="/posts">Posts Component</button>
    </div>
  </div>

<!--  TRAVEL COMPONENT-->
  <div class="row" class="text-center">
    <div class="col-6">
      <h3>View my comments component project</h3>
      <p>A CRUD app using json placeholder api</p>
      <button class="btn btn-secondary" routerLink="/travel">Travel Component</button>
    </div>
  </div>
  <hr>
<!--  MOVIE COMPONENT-->
  <div class="row" class="text-center">
    <div class="col-6">
      <h3>View my comments component project</h3>
      <p>A CRUD app using json placeholder api</p>
      <button class="btn btn-secondary" routerLink="/movies">Movies Component</button>
    </div>
  </div>
</div>


