h1{
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: "High Tower Text";
}

h3 {
  text-align: center;
  font-family: "High Tower Text";
}

ul{
  background-color: darkslateblue;
  list-style: none;
  text-align: center;
}

li{
  font-family: "High Tower Text";
}
