<ul>
  <li *ngFor="let m of movies">
    <h1>{{ m.title}}</h1>
    <h3>Director:  {{ m.director}}</h3>
    <h3>Year Released: {{ m.yearReleased}}</h3>
    <h3>Actors: {{ m.actors}}</h3>
    <ul>
      <li>Awards: {{ m.awards}}</li>
    </ul>
    <ul *ngIf="m.rating > 90">
      <h4>{{movierating()}}</h4>
    </ul>
    <hr>
  </li>
</ul>
