<!--<h3>Name: {{ users[0].firstName}} {{ users[0].lastName}}</h3>-->
<!--<h3>Age: {{ users[0].age }}</h3>-->

<!-- STRUCTURAL DIRECTIVES
*ngIf - creates conditionals in our html
*ngFor - used to loop through an array

ADDS LOGIC INTO OUR TEMPLATE
NOTE: every structural directive NEEDS to have the
asterik (*)
-->

<!--TODO: Using Structural directive loop through the users array-->
<ul>
    <li  *ngFor="let user of users">
    <h3>Name: {{ user.firstName}} {{user.lastName}}</h3>
    <p>Age: {{ user.age}}</p>
    </li>
</ul>
