<h3>Addition: 12 + 12 = {{ this.sum() }}</h3>
<h3>Subtraction: 12 - 12 = {{ this.difference() }}</h3>
<h3>product: 12 * 12 ={{ this.product() }}</h3>
<h3>quotient: 12 / 12 = {{ this.quotient() }}</h3>

